# Flutter / Dart
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins*
mobile/android/.gradle/
**/build/
.dart_tool/
.packages
.pub-cache/
.pub/
*.iml
.idea/

# Node
node_modules/
npm-debug.log*

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
